<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="fragments :: head"></head>
	<body>
		<header th:replace="fragments :: header"></header>

		<article>
			<div sec:authorize="isAuthenticated()">
				<form method="POST" th:action="@{/logout}">
					<p th:text="#{msg.loged_as}">Ulogirani ste kao </p>
					<p sec:authentication="name">Korisnik</p>.
					<input type="submit" th:value="#{msg.btn.logout}" class="btn btn-danger"/>
				</form>
			</div>
			<p th:text="#{msg.label.detail.success_enter} +  ' ' + ${expense.name} + ' ' + #{msg.label.detail.expense_value} + ' ' + ${expense.price}"></p>
			<p th:text="#{msg.label.detail.category} +  ' ' + ${expense.expenseType} + ' ' + #{msg.label.detail.on_date} + ' ' + ${expense.createDate}"></p>
			<p th:text="#{msg.label.detail.wallet_balance} +  ' ' + ${expense.wallet.name} + ' ' + #{msg.label.detail.wallet_balance_is} + ' ' + ${totalSum}"></p>
			<div   style="text-align: center;">
				<a style="float: left; width: 140px; margin-right: 5px;" sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"  th:href="@{/expenses/resetWallet}" th:text="#{msg.btn_reset_wallet}">Resetiraj novčanik</a>
				<a  style="float: left; margin-right: 5px; width: 80px;" th:href="@{/expenses/new}" th:text="#{msg.btn.new_expense}">Novi</a>
				<a  style="float: left; width: 100px;" th:href="@{/expenses/searchExpenses}" th:text="#{msg.btn.search}">Pretraga</a>
			</div>

		</article>
	</body>
</html>