<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="fragments :: head"></head>
	<body>
		<header th:replace="fragments :: header"></header>

		<article>
			<div sec:authorize="isAuthenticated()">
				<form method="POST" th:action="@{/logout}">
					Ulogirani ste kao <span sec:authentication="name">Korisnik</span>.
					<input type="submit" value="Logout" class="btn btn-danger" />
				</form>
			</div>
			<p>Uspješno ste unijeli trošak <strong th:text="${expense.name}"> EXPENSE.NAME</strong> u iznosu od <strong th:text="${expense.price}">EXPENSE.AMOUNT </strong>kn</p>
			<p>Trošak je unesen pod kategorijom <strong th:text="${expense.expenseType}">EXPENSE.TYPE</strong> na datum <strong th:text="${expense.createDate}">EXPENSE.DATE</strong></p>
            <p>Potrošnja novčanika <strong th:text="${expense.wallet.name}">Wallet.name</strong> je <strong th:text="${totalSum}">suma</strong><strong th:text="${valuta}">Wallet.valuta</strong></p>
			<div   style="text-align: center;">
				<a style="float: left; width: 140px; margin-right: 5px;" sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"  th:href="@{/expenses/resetWallet}">Resetiraj novčanik</a>
				<a  style="float: left; margin-right: 5px; width: 70px;" th:href="@{/expenses/new}">Novi</a>
				<a  style="float: left; width: 100px;" th:href="@{/expenses/searchExpenses}">Pretraga</a>
			</div>

		</article>
	</body>
</html>