<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<article>
    <form method='POST' th:action="@{/login}">
        <label th:text="#{msg.login.username}">Username:</label><br>
        <input type="text" name="username"  th:placeholder="#{msg.login.username}"/><br>
        <label th:text="#{msg.login.password}">Password:</label><br>
        <input type="password" name="password" th:placeholder="#{msg.login.password}"/><br>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="submit" th:value="#{msg.login.login}"/><br>
    </form>
</article>

</body>
</html>