<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="fragments :: head"></head>
	<body>
	<header th:replace="fragments :: header"></header>
			<article>
			
				<form method='POST' th:action="@{/login}">
					<label>Username:</label><br>
					<input type="text" name = "username" placeholder="username"/><br>
					<label>Password:</label><br>
					<input type="password" name = "password" placeholder="password"/><br>
					<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
					<input type="submit" value = "Login"/><br>
				</form>
			</article>

	</body>
</html>